src/c/build
src/python/build/
src/python/dist/
src/python/perfflowaspect/*.pyc
src/python/perfflowaspect/__pycache__/
src/python/perfflowaspect/dist/
src/python/perfflowaspect.egg-info/
src/python/test/test-results/
src/python/test/trash*/
