variables:
  CUSTOM_CI_BUILDS_DIR: "/usr/workspace/cloudgap/gitlab-runner"
  BUILD_ROOT: ${CI_PROJECT_DIR}

stages:
  - build

build_lassen_clang_10_0_1:
 tags:
   - batch
   - lassen
 stage: build
 script:
   - module load clang/10.0.1-gcc-8.3.1
   - export PATH=/usr/tce/packages/gcc/gcc-8.3.1/bin:$PATH
   - export HOSTNAME=`hostname`
   - echo -e "Hostname:" ${HOSTNAME}
   - cd src/c
   - mkdir build-gitlab-lassen
   - cd build-gitlab-lassen
   - export HOST_CONFIG=`ls ../host-configs/lassen-4.14.0-ppc64le-clang@10.0.1-gcc@8.3.1.cmake`
   - echo -e "HOST_CONFIG:" ${HOST_CONFIG}
   - echo -e "PWD:" ${PWD}
   - cmake -C ${HOST_CONFIG} -DCMAKE_INSTALL_PREFIX=../install-gitlab-lassen ..
   - make VERBOSE=1
   - make install
   - cd ../install-gitlab-lassen/test
   - unset LSB_JOBID LS_JOBPID # unset variables defined on a compute node
   - ./t0001-cbinding-basic.t

build_lassen_python_3_8_2:
 tags:
   - batch
   - lassen
 stage: build
 script:
   - export HOSTNAME=`hostname`
   - export PATH=/usr/workspace/cloudgap/blueos_3_ppc64le_ib_p9/venv-3.8.2/bin:$PATH
   - echo -e "Hostname:" ${HOSTNAME}
   - cd src/python
   - unset LSB_JOBID LS_JOBPID # unset variables defined on a compute node
   - ./t0001-cbinding-basic.t
